<div class="row">
    <div class="col-lg-2">
         <h2 class="text-info">{{titulo}}</h2>
    </div>
    <div class="col-lg-10">
        <button class="btn btn-primary float-right"  >Novo</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Tarefa</th>
                <th>Usuário</th>
                <th>Status</th>
                <th>Atividade</th>
            </tr>
            <tr *ngFor="let taf of tarefas">
                <td>{{taf.id}}</td>
                <td>{{taf.name}}</td>
                <td>{{userName(taf.idUsuario)}}</td>
                <td>{{taf.status}}</td>
                <td>
                  <ul>
                    <li *ngFor="let a of taf.atividade" >{{ a.at }}</li>
                  </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
